appdirs==1.4.4
autograd==1.7.0
autoray==0.6.12
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
custatevec-cu12==1.6.0.post1
idna==3.8
networkx==3.3
numpy==1.26.4
packaging==24.1
PennyLane==0.38.0
PennyLane_Lightning @ file:///PennyLane_Lightning-0.38.0-cp310-cp310-linux_x86_64.whl
PennyLane_Lightning_GPU @ file:///PennyLane_Lightning_GPU-0.38.0-cp310-cp310-linux_x86_64.whl
requests==2.32.3
rustworkx==0.15.1
scipy==1.14.1
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
